*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* div{
    
    margin: 10px;
    padding:10px;
    column-count: 3;  OR
    column-width: 500px;
    column-gap: 15px;
    column-rule-width: 2px;
    column-rule-style: solid;
    column-rule-color: darkslategray;
    column-rule:3px solid black;
} */

h1{
    text-align: center;
    margin: 20px;
}

hr{
    border: none;
    border: 0.1px dashed black;
}

.meta-info{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

h3{
    column-span: all;
}

img {
    width: 100%;
    height: auto;
    margin: 10px 0;
    border: 2px solid black;
}
img:nth-child(2) {
    float: left;
    width: 100%;
    height: auto;
    margin: 10px 0;
    border: 2px solid black;
}

.section-container {
    column-width: 400px;
    column-gap: 20px;
}
