*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}  /* Remove Browser Default Margin & Padding & Make content-box to border-box(fix-size) */

table,th,td{
    border: 1px solid black;
}


h3{
    text-align: center;
    margin-top: 30px;
}

table{
    width: 100%;
    max-width: 900px;
    margin: 30px auto;
    border-collapse: collapse;
    table-layout: fixed;  
}

th, td{
    padding: 1vw;      
    font-size: 1.5vw;   
    text-align: center;
    word-wrap: break-word;
}
