*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  /* Remove Browser Default Margin & Padding & Make content-box to border-box(fix-size) */



.main-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3{
    text-align: center;
    margin: 20px 0;
}

.table-div{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

table{
    width: 100%;
    max-width: 900px;
    border-collapse: collapse;
}

thead{
    background-color: darkred;
}

tbody{
    background-color: deeppink;
}

table, th, td{
    border: 1px solid black;
}

th, td{
    padding: 1vw;       
    text-align: center;
    font-size: 1.5vw;
}
