*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   /* Remove Browser Default Margin & Padding & Make content-box to border-box(fix-size) */

.line-col{
    border: 2px solid rgb(207, 21, 21);
}

img{
    float: right;
    border: 5px solid black;
    margin: 20px;
    max-width: 430px;
    max-height: 430px;
    width: 100%;
    height: auto;
}   /* Moves img at right side & intial size is 430px*430px for smaller screen size width is fullscreen & height auto   */

p{
    text-align: justify;
    margin: 10px;
}  