* {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 80px 1fr 70px;
  grid-template-areas:
    "header header header "
    "navbar main  sidebar"
    "footer footer  footer";
  padding: 10px;
}

.header {

  grid-area: header;
  background: red;
}

.navbar {
  grid-area: navbar;
  background: blue;
}

.main {
  grid-area: main;
  background: green;
}

.sidebar {
  grid-area: sidebar;
  background: yellow;
}

.footer {
  grid-area: footer;
  background: gray;
}
.container > div {
  padding: 20px;
  color: white;
  text-align: center;
}
